<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hidroponik.farm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        android:requestLegacyExternalStorage="true"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:appCategory="productivity"
        android:icon="@drawable/asset_1"
        android:label="@string/app_name"
        android:logo="@drawable/asset_1"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/asset_3"
        android:supportsRtl="true"
        android:theme="@style/Theme.HydroponicSystem"
        tools:ignore="AllowBackup"
        tools:targetApi="O">
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashScreen"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:requestLegacyExternalStorage="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HydroponicSystem"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name=".netService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>